.error-page{
    top: 10%;
    left: 17%;
    right: 17%;
    bottom: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.error-page__content{
    max-width: 600px;
    text-align: center;
}

.error-page__content h1{
    font-size: 18vw;
    line-height: 1em;
    font-family: var(--font-base);
}

.error-page__content h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: var(--color-black);
    font-size: 2em;
    font-family: var(--font-base);
}

.error-page__content p{
    font-size: 1.2em;
    color: #0d0d0d;
    font-family: var(--font-alt);
}

.error-page__button {
    display: flex;
    margin: 3rem;
    align-items: center;
    justify-content: center;

}